@font-face {
    font-family: 'Inconsolata';
    src: url('../fonts/inconsolata.ttf');
}
@font-face {
    font-family: 'Inconsolata';
    src: url('../fonts/inconsolatabold.ttf');
    font-weight: bold;
}
@font-face {
    font-family: 'Inconsolata';
    src: url('../fonts/inconsolataitalic.ttf');
    font-style: italic;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    font-size: 62.5%;    
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
}

body {
    line-height: 2.9rem;
    font-size: 1.9rem;
    font-family: 'Inconsolata', monospace;
    margin: 0;
}

hr {
    background-color: rgba(27,31,35,0.08);
    border: 0;
    box-sizing: border-box;
    height: 3px;
    margin: 2em auto;
    width: 75%;
}

a {

    &:not(.nav) {
        color: #1228e2;
        position: relative;
        padding-bottom: 0.15em;
        text-decoration: none;
        transition: color 0.2s ease-in-out;
        
        &:hover {
            color: #fe6993;

            &:after {
                opacity: 1;
            }
        }

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            opacity: 0;
            width: 100%;
            border-bottom: 1px solid #fe6993;
            transition: opacity 0.4s ease-in-out;
        }
    }
}

ul {
    margin: 0;
    list-style-type: circle;
}

span {

    &.label {
        background-color: rgba(254, 105, 147, 0.1);
        border-radius: 3px;
        color: #fe6993;
        display: inline-block;
        font-weight: bold;
        padding: 0.3em 0;
        line-height: 1em;
        margin: 0;
        font-size: 85%;

        &:before,
        &:after {
            content: '\00a0';
        }
    }
}




.container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    background-image: url('../images/background.png');
    position: relative;
    color: white;

    * {
        -webkit-font-smoothing: auto;
        -moz-osx-font-smoothing: auto;
    }

    &::after {
        content: '';
        background-color: rgba(0, 0, 0, 0.75);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    & > * {
        z-index: 1;
    }

    &__bottom-nav {
        align-self: flex-start;
        font-family: 'Roboto Condensed', sans-serif;
        margin: 0 auto;
        padding: 1.84rem;
        text-transform: uppercase;
        font-weight: 700;
    }

}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 1.84rem;

    &--about {
        justify-content: normal;
    }

    &__link {
        text-transform: uppercase;
        font-size: 1.84rem;
        font-family: 'Roboto Condensed', sans-serif;
        position: relative;

        i {
            -webkit-font-smoothing: antialiased;
        }

        &:not(.active) {

            &::after {
                width: 0%;
                transition: width 0.4s ease-in-out;
            }

            &:hover {

                &:after {
                    width: 100%;
                }
            }
        }
        
        &:after {
                border-bottom: 3px solid #fe6993;
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
        }

        a {
            text-decoration: none;
            color: white;
            font-weight: 700;
            letter-spacing: 0.18rem;
        }

        &--dark a {
            color: black;
        }
    }
}

.logo-area {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--about {
        align-items: baseline;
    }

    &__logo {
        font-size:  5.52rem;
        font-weight: 700;
        margin: 0;
        line-height: 6rem;
        text-transform: uppercase;
        
        &--about {
            padding: 1.84rem;
            text-transform: none;
            font-size: 3.68rem;
            line-height: 4.05rem;
        }
    }


}

.main {

    & > * {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.week {

    padding-top: 1.84rem;
    padding-bottom: 1.84rem;

    &:nth-of-type(2n) {
        background-color: white;
    }
    &:nth-of-type(2n+1) {
        background-color: #f8f9f9;
    }

    &-header {
        margin-bottom: 2.7rem;
        font-family: 'Open Sans', sans-serif;
    }

    &-body {
        font-family: 'Open Sans', sans-serif;
    }
}

code.highlighter-rouge {
    padding: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(27,31,35,0.05);
    border-radius: 3px;

    &::before,
    &::after {
        letter-spacing: -0.31rem;
        content: "\00a0";
    }
}

.info {

    padding-top: 3.6rem;
    // padding-bottom: 3.6rem;

    &-header {
        font-size: 3.6rem;
        line-height: 5.9rem;
    }

    &--about {
        padding: 0;

        & > * {
            padding-left: 1.84rem;
            padding-right: 1.84rem;
        }
    }

    &-list {
        padding-left: 4rem;

        &--contacts {
            padding-left: 6rem;
        }
    }
}

.topic {
    margin-top: 3.6rem;

    &--main {
        font-size: 1.84rem;
        margin-top: 0;
    }

    font-weight: 700;
    line-height: 4.4rem;
    font-size: 2.7rem;
}

@media (min-width: 864px) {
    .header {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 40%;

        &--about {
            position: relative;
            top: auto;
            left: auto;
            height: auto;
            width: auto;
        }
    }

    .logo-area {
        flex-grow: 1;
        justify-content: center;

        &--about {
            
        }

        &__logo {

            &--about {
                padding: 7.36rem 14.72rem;
                font-size: 5.5rem;
                line-height: 6.07rem;
            }
        }
    }

    .main {
        padding-left: 7.3rem;
        padding-right: 7.3rem;
        margin-left: 40%;

        &--about {
            margin-left: 0;
            padding-left: 0;
            padding-right: 0;
        }
    }

    .info {

        &--about {
            margin: 7.36rem 0;

            & > * {
                padding-left: 14.7rem;
                padding-right: 14.7rem;
            }
        }

        &-list {
            padding-left: 18.7rem;
        }
    }
}

.bottom-text {
    margin-bottom: 2rem;
}




/* -----------------------------------------------------
   CSS Progress Bars
-------------------------------------------------------- */
.cssProgress {
    width: 100%;
    margin-bottom: 20px;
  }

  .cssProgress .progress {
    position: relative;
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
  }
  .cssProgress .cssProgress-bar {
    display: block;
    float: left;
    width: 0%;
    height: 100%;
    background: #3798d9;
    box-shadow: inset 0px -1px 2px rgba(0, 0, 0, 0.1);
    -webkit-transition: width 0.8s ease-in-out;
            transition: width 0.8s ease-in-out;
  }
  .cssProgress .cssProgress-label {
    position: absolute;
    overflow: hidden;
    left: 0px;
    right: 0px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 0.7em;
    text-align: center;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.3);
  }
  .cssProgress .cssProgress-info {
    background-color: #9575cd !important;
  }
  .cssProgress .cssProgress-danger {
    background-color: #ef5350 !important;
  }
  .cssProgress .cssProgress-success {
    background-color: #66bb6a !important;
  }
  .cssProgress .cssProgress-warning {
    background-color: #ffb74d !important;
  }

  .cssProgress .cssProgress-accumulating {
    background-color: #fe6993 !important;
  }

  .cssProgress .cssProgress-right {
    float: right !important;
  }
  .cssProgress .cssProgress-label-left {
    margin-left: 10px;
    text-align: left !important;
  }
  .cssProgress .cssProgress-label-right {
    margin-right: 10px;
    text-align: right !important;
  }
  .cssProgress .cssProgress-label2 {
    display: block;
    margin: 2px 0;
    padding: 0 8px;
    font-size: 0.8em;
  }
  .cssProgress .cssProgress-label2.cssProgress-label2-right {
    text-align: right;
  }
  .cssProgress .cssProgress-label2.cssProgress-label2-center {
    text-align: center;
  }
  .label-bottom-center {
    text-align: center;
    font-size: 0.8em;
    margin-bottom: 12px;
    line-height: 1.9rem;
  }
  .label-bottom-center > span {
    font-weight: bold;
  }
  .cssProgress .cssProgress-stripes,
  .cssProgress .cssProgress-active,
  .cssProgress .cssProgress-active-right {
    background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, 0.125) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.125) 50%, rgba(255, 255, 255, 0.125) 75%, transparent 75%, transparent);
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.125) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.125) 50%, rgba(255, 255, 255, 0.125) 75%, transparent 75%, transparent);
    background-size: 35px 35px;
  }
  .cssProgress .cssProgress-active {
    -webkit-animation: cssProgressActive 2s linear infinite;
    -ms-animation: cssProgressActive 2s linear infinite;
    animation: cssProgressActive 2s linear infinite;
  }
  .cssProgress .cssProgress-active-right {
    -webkit-animation: cssProgressActiveRight 2s linear infinite;
    -ms-animation: cssProgressActiveRight 2s linear infinite;
    animation: cssProgressActiveRight 2s linear infinite;
  }
  @-webkit-keyframes cssProgressActive {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 35px 35px;
    }
  }
  @-ms-keyframes cssProgressActive {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 35px 35px;
    }
  }
  @keyframes cssProgressActive {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 35px 35px;
    }
  }
  @-webkit-keyframes cssProgressActiveRight {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -35px -35px;
    }
  }
  @-ms-keyframes cssProgressActiveRight {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -35px -35px;
    }
  }
  @keyframes cssProgressActiveRight {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -35px -35px;
    }
  }



  /* -----------------------------------------------------
   Progress Bar
-------------------------------------------------------- */
.progress {
    background-color: #EEE;
    border-radius: 9px;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
  }
  .progress .cssProgress-bar {
    height: 18px;
    border-radius: 9px;
  }
  .progress .cssProgress-label {
    line-height: 18px;
  }


  /* -----------------------------------------------------
   Problem Set
  -------------------------------------------------------- */
  .problem-set {
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
  }

  .photo {
    display: block;
    margin: 0 14.7rem;
    padding: 0;
  }

  .photo img {
    width: 100%;
    
    max-height: 810px;
    object-fit: cover;
    filter: grayscale(100%) contrast(120%);
    box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.2);
    display: block;
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    /* margin-top: -10px; */
    transform: translateY(-10px);
  }

  .photo:hover img {
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
    filter: none;
  }

  a.photo::after {
    border: none;
  }

  .photo:hover img {
    transform: translateY(0);
  }